/* Colors to use:
    #1a061a - Darkest Purple
    #39093f - Dark Purple
    #840052 - Dark Pink
    #cb118b - Pink
    #ec67b6 - Light Pink
    #8b62c2 - Light Purple
    #572aa4 - Purple
    #25188a - Blue
    #160259 - Dark Blue
    #23b1ca - Light Blue
    #3c6176 - Muted Blue Green


    These are not exclusive choices for the site, we can use black and white when needed
    and utilize different shades if something does not look good

*/

@font-face {
    font-family: IcelandRegular;
    src: url(fonts/Iceland-Regular.ttf);
}

body {
    font-family: IcelandRegular;
    background-color: #1a061a;
    color: white;
}

/* These are the main titles on the index page, can be changed to be exclusive for the main page so
    others can have their own but this can help with consistency
*/
h2 {
    text-align: center;
    font-size: 3vw;
    text-decoration: underline ;
    margin-bottom: 0;
}

hr.songs {
    border: 1px solid #3c6176;
    width: 90%;
}

/* Styling for top of each page, header for both the logo and topnav. They also have their own independant divs */
#logo {
    width: 100%;
    text-align: center;
    background-color: #3c6176;
}

#logo img {
    scale: 1.2;
}
#topnav {
    background-color: #39093f;
    overflow: hidden;
}

#topnav a {
    float: left;
    color: white;
    background-color: #840052;
    text-align: center;
    padding: 0.6% 5%;
    text-decoration: none;
    font-size: 1vw;
}

#topnav a:hover {
    color: #840052;
    background-color: white;
}

#topnav .active {
    background-color: #39093f;
}

/* Styling for the sections on the Index page */
#about,#signupBox {
    border: 2px solid #23b1ca;
}
#features {
    border: 2px solid #db1696;
}

#about,#signup,#features {
    margin: 3%;
    border-radius: 10px; 
}

/* paragraphs for about and signup section */
#about p, #signupBox p {
    text-align: center;
    font-size: 2vw;
    border-radius: 15px;
    background-color: #0a0029;
    padding: 2%;
    margin-bottom: 0;
}

/* grid used to show features, easy to display the 3 side by side */
#featureGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;

    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
    padding: 2%;

}

/* styling for the feature grid section to make 3 cards */
.featureItem {
    text-align: center;
    padding: 5%;
    margin-bottom: 5%;
    background-color: #0a0029;
    border-radius: 30px;
}
.featureItem img{
    width: 200px;
    height: 200px;
}

.featureItem h3{
    font-size: 2vw;
}

.featureItem p{
    font-size: 1vw;
}

/* styling for buttons separate from normal buttons in case we need them somewhere else */
#signupBox button, .toggleButton, .pageCycle {
    background-color: #840052;
    color: white;
    font-size: 1vw;
    margin: 1%;
    padding: 1%;
    width: 10%;
    border: 2px solid white;
    border-radius: 30px;
}

#signupBox button:hover, .toggleButton:hover, .pageCycle:hover {
    background-color: white;
    color: #840052;
    border: 2px solid #840052;
}

.toggleButtonDiv, #songPages {
    text-align: center;
}

/* styling for the song grid, should be usable in both browse songs page and my songs page  */

.songGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

/* song line is for display */
.songLine {
    border-radius: 10px;
    padding: 1%;
    text-align: center;
    background-color: #091f3f;
    margin: 0.5%;
    width: 20%;
}
.songLine:nth-child(3n+1){
    border: 2px solid #ea68b6;
}
.songLine:nth-child(3n+2){
    border: 2px solid #8b62c2;
}
.songLine:nth-child(3n+3){
    border: 2px solid #23b1ca;
}

/* song line is for line display, shares some qualities with card*/
.songLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    box-sizing: border-box;
    padding: 0 10px;
}
.songLine img {
    width: 7vw;
    margin-right: 1rem;
    border-radius: 10px;
}
.songLine h3, .songLine p {
    font-size: 2vw;
    margin: 0;
    padding: 0;
    flex: 1;
    text-align: center;
}

#genreBar {
    margin-top: 0.5%;
    margin-bottom: 1%;
    text-align: center;
}

.songLine button {
    background-color: #840052;
    color: white;
    font-size: 1.5rem; 
    width: 3rem; 
    height: 3rem;
    border: 2px solid white;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1%;
    float: right;
    margin-left: 1rem;
    
}

.songLine button:hover {
    background-color: white;
    color: #840052;
    border: 2px solid #840052;
}


.songLine audio {
    width: 10vw;
    height: 2vw;
    margin-right: 1rem;
}

/* Overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }

  /* Popup */
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #091f3f;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 20;
    text-align: center;
  }

  .popup h2 {
    margin: 0 0 10px;
  }

  .popup .rating {
    display: flex;
    gap: 10px;
    justify-content: center; 
    align-items: center;    
  }
  
  .popup .rating input[type="radio"] {
    display: none;
  }
  
  .popup .rating label {
    font-size: 2vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #23b1ca;
  }
  
  .popup .rating input[type="radio"]:checked + label {
    color: #db1696;
  }

  .popup button {
    margin-top: 10px;
    padding: 5px 10px;
    background: #840052;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .popup button:hover {
    background: white;
    color: #840052;
  }

  .genreButton {
    color: white;
    background-color: #8b62c2;
    font-size: 1vw;
    border: 2px solid #8b62c2;
  }

  .genreButton:hover {
    border: 2px solid #23b1ca;
  }
  .songCard {
    background-color: #39093f;
    border: 2px solid #23b1ca;
    border-radius: 15px;
    padding: 2vw;
    text-align: center;
    width: 30vw;
}

.songCard img {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1vw;
}

.songCard h3 {
    color: #ec67b6;
    font-size: 2vw;
    margin: 0.5vw 0;
}

.songCard p {
    color: #8b62c2;
    font-size: 1.5vw;
    font-style: italic;
    margin: 0.5vw 0;
}

.songCard audio {
    width: 25vw;
    margin: 1vw 0;
}

.songCard button {
    background-color: #572aa4;
    color: white;
    border: none;
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    margin: 0 1vw;
    font-size: 1.5vw;
}

.songCard button:hover {
    background-color: #cb118b;
}

.songCard button:active {
    background-color: #ec67b6;
}

  @media screen and (max-width:1000px){
    .songLine audio {
        width: 20vw;
    }
}

.songCard1 {
    background-color: #0a0029;
    border-radius: 15px;
    margin: 0.5vw;
    padding: 0.25vw;
    text-align: center;
    width: 20vw;
}
.songCard1:nth-child(3n+1){
    border: 2px solid #ea68b6;
}
.songCard1:nth-child(3n+2){
    border: 2px solid #8b62c2;
}
.songCard1:nth-child(3n+3){
    border: 2px solid #23b1ca;
}

.songCard1 img {
    width: 15vw;
    height: 15vw;
    border-radius: 10px;
}

.songCard1 h3 {
    font-size: 2vw;
    padding: 0;
    margin: 0;
}

.songCard1 p {
    font-size: 1vw;
}

.songCard1 button {
    margin-bottom: 0.7vw;
    width: 5vw;
    height: 1vw;
    
    color: white;
    background-color: #840052;
    border: 2px solid #ea68b6;
    border-radius: 30px;
}

.songCard1 button:hover {
    background-color: #ea68b6;
}

#emptyMessage {
    text-align: center;
    font-size: 2vw;
    background-color: #39093f;
    padding: 0.5vw;
    line-height: 1vw;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: fit-content;
}
#emptyMessage a{
    text-decoration: none;
    color: #23b1ca;
}
#emptyMessage a:hover{
    color: #cb118b;
}